* {
    font-family: 'Open Sans', Arial, sans-serif;
}

.top-nav > nav > ul > li {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left:1px white solid ;
    padding: 0.5rem;
}

.hero > nav > ul,
.top-nav > nav > ul {
    display: flex;
}

.hero >nav > ul {
    gap: 2rem;
}

.top-nav > nav > ul {
    padding: 0;
    border-right:1px white solid ;
}

.top-nav {
    background-color: rgb(30, 66, 110);
    display: flex;
    justify-content: center;
    min-width: 100vw;
}
.top-nav > nav > ul > li:hover,
.top-nav > nav > ul > li > a:hover
{
    background-color: rgb(120, 159, 77);
}

.top-nav > nav > ul > li > a {
    color: white;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero > nav > ul > li > a:hover {
    text-decoration: underline;
    color: rgb(120, 160, 77);
}

.hero > nav > ul > li > a,
h1{
    color: rgb(31,67,111);
}

.index-ul > li {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin:0.4rem 0.4rem;

}

main > nav {
    background-color: rgb(232, 244, 249);
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-ul {
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.index-ul > li > a {
    color: rgb(42, 94, 165);
}

.index-ul > li:hover,
.index-ul > li > a:hover {
    background-color: rgb(42, 94, 165);
    color: white;
}

.energy-stats {
    height: 100%;
    width: 50%;
    padding: 1rem 0.8rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.numbers {
    background-color: rgb(245, 245, 245);
    width: 50%;
    padding: 1rem 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.energy-stats > a, .numbers > a {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(30, 66, 110);
    text-align: center;
    text-decoration: none;
}

.energy-stats > a:hover, .numbers > a:hover {
    border: 1px solid rgb(30, 66, 110);
    background-color: rgb(232, 244, 249);
    color: rgb(30, 66, 110);
    
}

.main-content {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    gap: 2rem;
}

footer {
    background-color: rgb(232, 244, 249);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer > nav > ul {
    display: flex;
    gap: 0.6rem;
}

footer > nav > ul > li > a:hover,
.info > a:hover,
.wrapper > a:hover,
.info-text > a:hover,
.help-card > a:hover {
    color: rgb(120, 160, 77);
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 60%;
    padding: 1rem 0;
} 

.card,
.community-card {
    text-align: center;
    background-color: rgb(30, 66, 110);
    height: fit-content;
}

.card > a
{
    color: white;
}

.card:hover {
    background-color: rgb(42, 94, 165);
}

.info-text   {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}


.info {
    display: flex;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help
{
    background-color: rgb(245, 245, 245);
    padding-top: 2rem;
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    margin-bottom: 0.5rem; 
    height: 13vh;
    gap: 1rem;
}

.help-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    gap: 1rem;
}

.community-hero {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100vw;
    padding: 2rem;
}

.community-cards {
    display: flex;
    gap: 1rem;
}

.community-card > img {
    height: 10rem;
    width: 100%;
}

.community-text{
    width: 51vw;
}

.community-text > h2 {
    text-align: center;
}

.community-card > a {
    color: white;
}

.community-card:hover {
    background-color: rgb(42, 94, 165);
}
.foreground {
    background: url('../dmit-assignment-1-assets/building-stronger.webp') center / cover no-repeat;
    width: 100vw;
    padding: 3rem 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: rgb(245, 245, 245, 0.8);
    margin-left: 35rem;
    margin-right: 5rem;
}

/* Above 1300 */
@media screen and (min-width: 1300px) {
    .cards {
        margin-right: 20%;
        margin-left: 20%;
    }
    .banner-img {
        width: 100vw;
    }
    .top-nav > nav > ul {
        margin-left: 30vw;
    }
    .index-ul {
        display: flex;
        flex-wrap: nowrap;
    }
    .info {
        width: 60%;
    }
}

/* Between 800 & 1300 */
@media screen and (min-width: 800px) and (max-width: 1300px) {

    .cards {
        margin:0;
        width: 100vw;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .wrapper {
        margin-left: 20rem;
    }

}

/* Below 800 */
@media screen and (max-width: 800px)
{
    .cards {
        margin:0;
        width: 100vw;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero{
        flex-direction: column;
        padding: 0.7rem 0;
    }

    .numbers, .energy-stats {
        text-align: center;
        width: 100%;
        
    }

    .main-content {
        flex-direction: column;
    }

    .community-cards {
        flex-direction: column;
    }

    .wrapper {
        margin: 0 5rem;

    }

    footer {
        flex-direction: column;
    }

} 